.masthead{
	position: relative;
	padding: 30px 15px;
	margin-left: 50px;
	color: #fdfff3;
}

a .masthead{
	color: #cdbfe3;
}

nav {
	background-image: linear-gradient(to bottom,#967dbc 0,#967dbc 100%);
	color: #ffffff;
}

nav li a{
	background-image: linear-gradient(to bottom,#967dbc 0,#967dbc 100%);
	color: #ffffff;
}

.navbar-inverse .navbar-nav li a{
	color: #ffffff;
}