.masthead{
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000000;
	border: 2px solid;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	background-color: #ffffff;
	margin-top: 40px;
}

.nikanavbar{
	background-color: #000000;
}


.navbar{
	margin-bottom:0px;
	border-radius: 0px;
}

.nikasborders {
	margin-left: 40px;
	margin-right: 40px;
}

body{
	background-color: #CACCDB;
}

.footer{
	color: #353535;
	padding-bottom: 300px;
	margin-left: 40px;
	margin-right: 40px;
}

.contentus{
	background-color: #ffffff;
	border: 2px solid;
	padding-bottom: 55px;
}