.masthead{
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000000;
	background-color: #ffffff;
}

.nikanavbar{
	background-color: #000000;
}


.navbar{
	margin-bottom:0px;
	border-radius: 0px;
}

.country{
	margin-top: 5px;
}

.nikasborders {
	margin-left: 40px;
	margin-right: 40px;
}

body{
	background-color: rgb(194, 212, 220);
}

.footer{
	color: #353535;
	padding-bottom: 300px;
	margin-left: 40px;
	margin-right: 40px;
}

.contentus{
	background-color: #ffffff;
	padding-bottom: 55px;
}