.masthead{
	padding-top: 30px;
	padding-bottom: 30px;
	color: #333a67;
	background-color: #ffffff;
}

.nikanavbar{
	background-color: #000000;
}

.navbar-inverse .navbar-nav li a{
	color: #ffffff;
}

.glyphicon{
	color: #337ab7;
}

.navbar{
	background-color: #337ab7;
	color:#ffffff;
	margin-bottom:0px;
	border-radius: 0px;
	border-width: 0px;
}

.country{
	margin-top: 5px;
}

.nikasborders {
	margin-left: 140px;
	margin-right: 140px;
}

body{
	background-color: #CFE5FA;
}

.footer{
	margin-left: 140px;
	margin-right: 140px;
	color: #353535;
	padding-bottom: 300px;
	padding-top: 30px;

}

.contentus{
	background-color: #ffffff;
	padding-bottom: 55px;
}