	  <div class="col-xs-12 col-md-4 le-sidebar">
      <br>
	  	<p class="lead">
	        Популярные визы
	        <ul class="nav nav-pills nav-stacked">
	          <li role="presentation" class="active"><a href="/countries/de">Визы в Германию</a></li>
	          <li role="presentation"><a href="/countries/cz">Визы в Чехию</a></li>
	          <li role="presentation"><a href="/countries/in">Визы в Индию</a></li>
	        </ul>
	    </small></h2>
	  </div>
</div>

<div class="container-fluid">
    <div class="row footer">
      <div class="col-xs-12">
        Сервисно-визовая поддержка "Виза-Уфа". Профессиональная консультация и подготовка документов.
                <br>
                <br>
      </div>
      <div class="col-xs-4">
        <p>
          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            8(347)216-42-06 <br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 8(347)284-11-30 <br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 8(917)34-800-34 <br>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
           г Уфа, ул Заки Валиди, д3 <br>
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          пн-пт, 10:00-18:00
        </p >

      </div>
    </div>

</div>
</body>
</html>
