	  <div class="col-xs-12 col-md-4">
	  	<p class="lead">
		  		Визы во все страны мира

	  		<table class="table table-hover">
	  			<tr>
	  				<td>
					 тел.:
					 </td>
					 <td> 
					 	+7(917)34-800-34
					</td>
				</tr>
				<tr>
	  				<td>
					 эл.почта
					 </td>
					 <td> 
						<a href="mailto:tdufa@yandex.ru"> tdufa@yandex.ru</a>
					</td>
				</tr>
				<tr>
	  				<td>
					 адрес
					 </td>
					 <td> 
						г.Уфа, ул.Заки Валиди д.3 
					</td>
				</tr>
			</table> 
			<hr>
	  	<h2><small>
	  		Часы работы
	  		<br>
	  		пн-пт, 10:00-18:00 (без обеда)
	  	</small></h2>

	    <h2><small>
	        Популярные визы
	        <ul class="nav nav-pills nav-stacked">
	          <li role="presentation" class="active"><a href="/countries/de">Визы в Германию</a></li>
	          <li role="presentation"><a href="#">Визы в Чехию</a></li>
	          <li role="presentation"><a href="/countries/in">Визы в Индию</a></li>
	        </ul>
	    </small></h2>
	  </div>

  </div>
</body>
</html>