</div>
</div>

<div class="container-fluid">
    <div class="row footer">
      <div class="col-xs-12">
        Визовый Центр "Виза-Уфа". Профессиональная консультация и подготовка документов.
        <br>
        <p>
          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            8(347)216-42-06 <br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 8(347)284-11-30 <br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 8(917)34-800-34 <br>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
           г. Уфа, ул. Цюрупы, д. 124 <br>
            <br>

          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          пн-пт, 10:00-18:00
        </p >

      </div>
      <div class="col-xs-4">
      </div>
    </div>

</div>
</body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41000570-3', 'auto');
    ga('send', 'pageview');
    console.log("Ananlytics tracker is also on, yay!");
</script>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <iframe src="https://docs.google.com/forms/d/13rT_mtQfHzU-GxXlAT5zd024QWcqMLT9Qb5HQXLc9pc/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>      </div>
    </div>
  </div>
</div>




<!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter38131375 = new Ya.Metrika({ id:38131375, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/38131375" style="position:absolute; left:-9999px;" alt="" />
        </div>
    </noscript>
<!-- /Yandex.Metrika counter -->
</html>
