<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title> {{.Title}} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/visa102.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container-fluid nikasborders">
    <div class="masthead row">
      <a href="/">
      <div class="col-md-2">
        <img src="/img/logo.jpg" height="150">
      </div>
      </a>
      <div class="col-md-6">
        <h2> Виза-Уфа </h2>
        <h4> Оформление виз во все страны </h4>
        <h4> Профессиональная подготовка документов </h4>
        <h4> Консультации        </h4>
      </div>
      <div class="col-md-4">
        <p> 
          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 
            8(347)216-42-06 <br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 8(347)284-11-30 <br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 8(917)34-800-34 <br>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
           г Уфа, ул Заки Валиди, д3 <br>
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          пн-пт, 10:00-18:00
        </p >
      </div>
    </div>

    <div class="row">

        <nav class="navbar navbar-inverse">
          <div class="col-md-12">
          <div class="nikanavbar">
                  <ul class="nav navbar-nav">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/countries">Оформление Виз</a></li>
                    <li><a href="/home/online">Виза Online</a></li>
                    <li><a href="/home/services">Услуги</a></li>
                    <li><a href="/home/contact">Контакты</a></li>
                  </ul>
          </div>
        </div>
        </nav>
    </div>
  </div>
  <div class="container-fluid nikasborders contentus">







