<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title> {{.Title}} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/visa102.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>

  <div class="container-fluid">
    <div class="header">

    </div>

    <div class="masthead">
        <h1>
             Уфимский визовый центр Виза-Уфа
        </h1>
        <h3>
          +7(917)34-800-34, г.Уфа, ул.Заки Валиди д.3 (напротив Конгресс-Хола)
        </h3>
    </div>
  </div>


<div class="container-fluid">

