<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title> {{.Title}} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/visa102.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container-fluid nikasborders">
    <div class="masthead row">
      <a href="/">
      <div class="col-md-2">
        <img src="/logo.png" height="130">
      </div>
      </a>
      <div class="col-md-5">
        <h3> Виза-Уфа </h3>
        <h5> Оформление виз, иммиграция, переводы </h5>
        <h5> Профессиональная подготовка документов </h5>
        <h5> Консультации  </h5>
      </div>
      <div class="col-md-5">
        <h5>

          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> &nbsp;
            8(347)216-42-06 <br>
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> &nbsp; 8(347)284-11-30 <br>
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> &nbsp; 8(917)34-800-34 <br>


            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp;
           г. Уфа, ул. Цюрупы, д. 124 <br>

           <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp;
           г. Стерлитамак, ул. Коммунисти­ческая, д. 66
          <br>


          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;
          пн-пт, 10:00-18:00
          <br>
          <a href="/eng/translations">English version</a>
        </h5 >
      </div>
    </div>

    <div class="row">

        <nav class="navbar navbar-inverse">
          <div class="col-md-12">
          <div class="nikanavbar">
                  <ul class="nav navbar-nav">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/countries">Страны</a></li>
                    <li><a href="/home/translations">Переводы</a></li>
                    <li><a href="/home/online">Виза Online</a></li>
                    <li><a href="/home/invitations">Приглашения в Россию</a></li>
                    <li><a href="/home/services">Услуги</a></li>
                    <li><a href="/booking">Авиабилеты</a></li>
                    <li><a href="/home/contact">Контакты</a></li>
                    <li><a href="/eng/translations">English</a></li>
                  </ul>
          </div>
        </div>
        </nav>
    </div>
  </div>
  <div class="container-fluid nikasborders contentus">
