{{ partial "header.html" . }}

<div class="col-xs-12 col-md-8">
		<h3>Мы занимаемся оформлением виз в следующие страны</h3>
        	Если интересная вам страна не в списке, это не значит, что мы не можем помочь вам в оформлении. Позвоните нам и мы постараемся найти для вас решение.
        <ul id="list">
            {{ range .Data.Pages }}
            <li>
                <img src="/flags/{{.Params.flag}}.png">
                <a href="{{.RelPermalink}}">
                	{{ .Title}}
                </a>
            </li>
            {{ end }}
        </ul>
        </p>
</div>
    
{{ partial "footer.html" . }}
