<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title> Ufa-Visa: legal & language services. Translation services, invitations for Russian Visas</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/visa102.css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container-fluid nikasborders">
    <div class="masthead row">
      <a href="/">
      <div class="col-md-2">
        <img src="/img/logo.jpg" height="130">
      </div>
      </a>
      <div class="col-md-5">
        <h3> Visa-Ufa </h3>
        <h5> Visas & Immigration, Translations </h5>
        <h5> Legal services & Consulting for international visitors </h5>
      </div>
      <div class="col-md-5">
        <h5>

          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> &nbsp;
            +7(917)780-42-37
            <br>

            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp;
           124 Tsurupy, Ufa, Russia <br>
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;
          Monday-Friday, 10:00-18:00
        </h5 >
      </div>
    </div>

    <div class="row">

        <nav class="navbar navbar-inverse">
          <div class="col-md-12">
          <div class="nikanavbar">
                  <ul class="nav navbar-nav">
                    <li><a href="/">Russian</a></li>
                  </ul>
          </div>
        </div>
        </nav>
    </div>
  </div>
  <div class="container-fluid nikasborders contentus">

          <div class="col-xs-12 col-md-8">

            <p class="lead">
              {{ range .Data.Pages }}
                 {{ .Content}}
              {{ end }}
            </p>

        </div>

  </div>

</div>
</div>

<div class="container-fluid">
    <div class="row footer">
    	<div class="col-xs-12">
    		Визовый Центр "Виза-Уфа". Профессиональная консультация и подготовка документов.
        <br>
        <p>
          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            8(347)216-42-06 <br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 8(347)284-11-30 <br>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 8(917)34-800-34 <br>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
           г. Уфа, ул. Цюрупы, д. 124 <br>
           <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
 					г. Стерлитамак, ул. Коммунисти­ческая, д. 66
 					 <br>

          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          пн-пт, 10:00-18:00
        </p >

      </div>
      <div class="col-xs-4">
    	</div>
    </div>

</div>
</body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41000570-3', 'auto');
    ga('send', 'pageview');
		console.log("Ananlytics tracker is also on, yay!");
</script>
</html>
